name: Build

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - '*.md'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - '*.md'

jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - run: xcode-select -p
      - run: swift --version
      - run: xcodebuild test -quiet -project "⌘英かな.xcodeproj" -scheme "⌘英かな" -destination 'platform=macOS' CODE_SIGN_IDENTITY="-" CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO
      - run: xcodebuild -quiet -project "⌘英かな.xcodeproj" -scheme "⌘英かな" -configuration Release -arch arm64 build CODE_SIGN_IDENTITY="-" CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO
